<robot name="my_sensors" xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:property name="A1M8_size" value="0.1"/>
    <xacro:property name="A1M8_mass" value="0.2"/>
    
    <!-- chang fang ti -->
    <xacro:macro name="box_inertial" params="m x y z">
        <inertial>
            <mass value="${m}" />
            <inertia ixx="${m*(y*y+z*z)/12}" ixy = "0" ixz = "0"
                iyy="${m*(x*x+z*z)/12}" iyz = "0" izz="${m*(x*x+y*y)/2}" /> 
        </inertial>
    </xacro:macro>


    <xacro:macro name="rpliadr_A1M8" >
    <!-- Create laser reference frame -->
    
        <link name="laser_link" >
            <visual>
                <origin xyz=" 0 0 0 " rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://urdf_learning/meshes/rplidar.dae"/>
                </geometry>
            </visual>

            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
                <geometry>
                    <box size="${A1M8_size} ${A1M8_size} ${A1M8_size}"/>
                </geometry>
            </collision>

            <xacro:box_inertial m="${A1M8_mass}" x="${A1M8_size}" y="${A1M8_size}" z="${A1M8_size}"/>
        </link>

        <!-- the reference of gazebo must be same with link name!!! or occor error!!! -->
        <!-- show rplidar : https://blog.csdn.net/weixin_51067502/article/details/121623309 -->
        <!-- show odometry: https://blog.csdn.net/weixin_43831098/article/details/126697280 -->
        <gazebo reference="laser_link">
            <sensor type="ray" name="A1M8">
                <pose>0 0 0 0 0 0</pose>
                <visualize>true</visualize>
                <update_rate>5.5</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>360</samples>
                            <resolution>1</resolution>
                            <min_angle>-3</min_angle>
                            <max_angle>3</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                      <min>0.15</min>
                      <max>30</max>
                      <resolution>0.01</resolution>
                    </range>
                    
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.01</stddev>
                    </noise>
                </ray>
                <plugin name="gazebo_rplidar" filename="libgazebo_ros_laser.so">
                    <topicName>/scan</topicName>
                    <frameName>laser_link</frameName>
                </plugin>
            </sensor>
            <material>Gazebo/Black</material>
        </gazebo>
    </xacro:macro>

    <xacro:rpliadr_A1M8/>

</robot>