<!-- 启动gazebo -->
<launch>
    <!-- set launch param -->
    <arg name="model" default="$(find urdf_learning)/urdf/include.xacro"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="true"/>
    <arg name="rvizconfig" default="$(find urdf_learning)/config/car_robot_gazebo.rviz"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find urdf_learning)/worlds/main.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- load param of robot -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <!-- 在gazebo中加载机器人模型 -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model main" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <!-- 启动rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf_learning)/config/main_xacro.rviz" required="true" />


</launch>